.mediaViewInfo {
	--web-view-name: 404 Error Page;
	--web-view-id: ID404_Error_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-double-click: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID404_Error_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ID404_Error_Page {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(240,249,255,1);
	overflow: hidden;
	--web-view-name: 404 Error Page;
	--web-view-id: ID404_Error_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-double-click: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_306 {
	opacity: 0.2;
	fill: rgba(64,14,134,1);
}
.Path_306 {
	overflow: visible;
	position: absolute;
	width: 1245.197px;
	height: 1307.849px;
	transform: matrix(1,0,0,1,626.9593,-71.5) rotate(-6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_305 {
	fill: rgba(61,14,129,1);
}
.Path_305 {
	overflow: visible;
	position: absolute;
	width: 1245.197px;
	height: 1307.849px;
	left: 674.959px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rendered_Image_Reduced_Noise_nk {
	position: absolute;
	width: 1920px;
	height: 1078px;
	left: 0px;
	top: 2px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 148px;
	height: 111px;
	left: 794px;
	top: 18px;
	overflow: visible;
}
#Repeat_Grid_1 {
	opacity: 0.09;
	position: absolute;
	width: 148px;
	height: 111px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Repeat_Grid_1_0 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_p {
	fill: url(#Ellipse_1_p);
}
.Ellipse_1_p {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_1 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_s {
	fill: url(#Ellipse_1_s);
}
.Ellipse_1_s {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_2 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_v {
	fill: url(#Ellipse_1_v);
}
.Ellipse_1_v {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_3 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_y {
	fill: url(#Ellipse_1_y);
}
.Ellipse_1_y {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_4 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_ba {
	fill: url(#Ellipse_1_ba);
}
.Ellipse_1_ba {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_5 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_bc {
	fill: url(#Ellipse_1_bc);
}
.Ellipse_1_bc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_6 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_be {
	fill: url(#Ellipse_1_be);
}
.Ellipse_1_be {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_7 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_bg {
	fill: url(#Ellipse_1_bg);
}
.Ellipse_1_bg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_8 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_bi {
	fill: url(#Ellipse_1_bi);
}
.Ellipse_1_bi {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_9 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_bk {
	fill: url(#Ellipse_1_bk);
}
.Ellipse_1_bk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_10 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_bm {
	fill: url(#Ellipse_1_bm);
}
.Ellipse_1_bm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_11 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_bo {
	fill: url(#Ellipse_1_bo);
}
.Ellipse_1_bo {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_12 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_bq {
	fill: url(#Ellipse_1_bq);
}
.Ellipse_1_bq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_13 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_bs {
	fill: url(#Ellipse_1_bs);
}
.Ellipse_1_bs {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_14 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_bv {
	fill: url(#Ellipse_1_bv);
}
.Ellipse_1_bv {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_15 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_by {
	fill: url(#Ellipse_1_by);
}
.Ellipse_1_by {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_16 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_ca {
	fill: url(#Ellipse_1_ca);
}
.Ellipse_1_ca {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_17 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_cc {
	fill: url(#Ellipse_1_cc);
}
.Ellipse_1_cc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_18 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_ce {
	fill: url(#Ellipse_1_ce);
}
.Ellipse_1_ce {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_19 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_cg {
	fill: url(#Ellipse_1_cg);
}
.Ellipse_1_cg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_20 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_ci {
	fill: url(#Ellipse_1_ci);
}
.Ellipse_1_ci {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_21 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_ck {
	fill: url(#Ellipse_1_ck);
}
.Ellipse_1_ck {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_22 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_cm {
	fill: url(#Ellipse_1_cm);
}
.Ellipse_1_cm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_23 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_co {
	fill: url(#Ellipse_1_co);
}
.Ellipse_1_co {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_24 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_cq {
	fill: url(#Ellipse_1_cq);
}
.Ellipse_1_cq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_25 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_cs {
	fill: url(#Ellipse_1_cs);
}
.Ellipse_1_cs {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_26 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_cv {
	fill: url(#Ellipse_1_cv);
}
.Ellipse_1_cv {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_27 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_cy {
	fill: url(#Ellipse_1_cy);
}
.Ellipse_1_cy {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_28 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_da {
	fill: url(#Ellipse_1_da);
}
.Ellipse_1_da {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_29 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_dc {
	fill: url(#Ellipse_1_dc);
}
.Ellipse_1_dc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_30 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_de {
	fill: url(#Ellipse_1_de);
}
.Ellipse_1_de {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_31 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_dg {
	fill: url(#Ellipse_1_dg);
}
.Ellipse_1_dg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_32 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_di {
	fill: url(#Ellipse_1_di);
}
.Ellipse_1_di {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_33 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_dk {
	fill: url(#Ellipse_1_dk);
}
.Ellipse_1_dk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_34 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_dm {
	fill: url(#Ellipse_1_dm);
}
.Ellipse_1_dm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_35 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_do {
	fill: url(#Ellipse_1_do);
}
.Ellipse_1_do {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_36 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_dq {
	fill: url(#Ellipse_1_dq);
}
.Ellipse_1_dq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_37 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_ds {
	fill: url(#Ellipse_1_ds);
}
.Ellipse_1_ds {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_38 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_dv {
	fill: url(#Ellipse_1_dv);
}
.Ellipse_1_dv {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_39 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_dy {
	fill: url(#Ellipse_1_dy);
}
.Ellipse_1_dy {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_40 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_ea {
	fill: url(#Ellipse_1_ea);
}
.Ellipse_1_ea {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_41 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_ec {
	fill: url(#Ellipse_1_ec);
}
.Ellipse_1_ec {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_42 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_ee {
	fill: url(#Ellipse_1_ee);
}
.Ellipse_1_ee {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_43 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_eg {
	fill: url(#Ellipse_1_eg);
}
.Ellipse_1_eg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_44 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_ei {
	fill: url(#Ellipse_1_ei);
}
.Ellipse_1_ei {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_45 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_ek {
	fill: url(#Ellipse_1_ek);
}
.Ellipse_1_ek {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_46 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_em {
	fill: url(#Ellipse_1_em);
}
.Ellipse_1_em {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_47 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_eo {
	fill: url(#Ellipse_1_eo);
}
.Ellipse_1_eo {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_48 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_eq {
	fill: url(#Ellipse_1_eq);
}
.Ellipse_1_eq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_49 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_es {
	fill: url(#Ellipse_1_es);
}
.Ellipse_1_es {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_50 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_ev {
	fill: url(#Ellipse_1_ev);
}
.Ellipse_1_ev {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_51 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_ey {
	fill: url(#Ellipse_1_ey);
}
.Ellipse_1_ey {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_52 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_fa {
	fill: url(#Ellipse_1_fa);
}
.Ellipse_1_fa {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_53 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_fc {
	fill: url(#Ellipse_1_fc);
}
.Ellipse_1_fc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_54 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_fe {
	fill: url(#Ellipse_1_fe);
}
.Ellipse_1_fe {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_55 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_fg {
	fill: url(#Ellipse_1_fg);
}
.Ellipse_1_fg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_56 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_fi {
	fill: url(#Ellipse_1_fi);
}
.Ellipse_1_fi {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_57 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_fk {
	fill: url(#Ellipse_1_fk);
}
.Ellipse_1_fk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_58 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_fm {
	fill: url(#Ellipse_1_fm);
}
.Ellipse_1_fm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_59 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_fo {
	fill: url(#Ellipse_1_fo);
}
.Ellipse_1_fo {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_60 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_fq {
	fill: url(#Ellipse_1_fq);
}
.Ellipse_1_fq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_61 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_fs {
	fill: url(#Ellipse_1_fs);
}
.Ellipse_1_fs {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_62 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_fv {
	fill: url(#Ellipse_1_fv);
}
.Ellipse_1_fv {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_63 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_fy {
	fill: url(#Ellipse_1_fy);
}
.Ellipse_1_fy {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_64 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_ga {
	fill: url(#Ellipse_1_ga);
}
.Ellipse_1_ga {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_65 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_gc {
	fill: url(#Ellipse_1_gc);
}
.Ellipse_1_gc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_66 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_ge {
	fill: url(#Ellipse_1_ge);
}
.Ellipse_1_ge {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_67 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_gg {
	fill: url(#Ellipse_1_gg);
}
.Ellipse_1_gg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_68 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_gi {
	fill: url(#Ellipse_1_gi);
}
.Ellipse_1_gi {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_69 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_gk {
	fill: url(#Ellipse_1_gk);
}
.Ellipse_1_gk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_70 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_gm {
	fill: url(#Ellipse_1_gm);
}
.Ellipse_1_gm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_71 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_go {
	fill: url(#Ellipse_1_go);
}
.Ellipse_1_go {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_72 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_gq {
	fill: url(#Ellipse_1_gq);
}
.Ellipse_1_gq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_73 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_gs {
	fill: url(#Ellipse_1_gs);
}
.Ellipse_1_gs {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_74 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_gv {
	fill: url(#Ellipse_1_gv);
}
.Ellipse_1_gv {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_75 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_gy {
	fill: url(#Ellipse_1_gy);
}
.Ellipse_1_gy {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_76 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_ha {
	fill: url(#Ellipse_1_ha);
}
.Ellipse_1_ha {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_77 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_hc {
	fill: url(#Ellipse_1_hc);
}
.Ellipse_1_hc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_78 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_he {
	fill: url(#Ellipse_1_he);
}
.Ellipse_1_he {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_79 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_hg {
	fill: url(#Ellipse_1_hg);
}
.Ellipse_1_hg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_80 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_hi {
	fill: url(#Ellipse_1_hi);
}
.Ellipse_1_hi {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_81 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_hk {
	fill: url(#Ellipse_1_hk);
}
.Ellipse_1_hk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_82 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_hm {
	fill: url(#Ellipse_1_hm);
}
.Ellipse_1_hm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_83 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_ho {
	fill: url(#Ellipse_1_ho);
}
.Ellipse_1_ho {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_84 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_hq {
	fill: url(#Ellipse_1_hq);
}
.Ellipse_1_hq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_85 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_hs {
	fill: url(#Ellipse_1_hs);
}
.Ellipse_1_hs {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_86 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_hv {
	fill: url(#Ellipse_1_hv);
}
.Ellipse_1_hv {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_87 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_hy {
	fill: url(#Ellipse_1_hy);
}
.Ellipse_1_hy {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Group_2 {
	position: absolute;
	width: 148px;
	height: 111px;
	left: 1780px;
	top: 988px;
	overflow: visible;
}
#Repeat_Grid_1_h {
	opacity: 0.09;
	position: absolute;
	width: 148px;
	height: 111px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Repeat_Grid_1_h_0 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_h {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_h {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_1 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_ia {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ia {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_2 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_ib {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ib {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_3 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_ic {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ic {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_4 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_id {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_id {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_5 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_ie {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ie {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_6 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_if {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_if {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_7 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_ig {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ig {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_8 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_ii {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ii {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_9 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_ik {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ik {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_10 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_im {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_im {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_11 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_io {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_io {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_12 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_iq {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_iq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_13 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_is {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_is {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_14 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_iu {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_iu {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_15 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_iw {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_iw {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_16 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_iy {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_iy {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_17 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_i {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_i {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_18 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_ja {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ja {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_19 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_jb {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jb {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_20 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_jc {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_21 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 14px;
	overflow: visible;
}
#Ellipse_1_jd {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jd {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_22 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_je {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_je {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_23 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_jf {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jf {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_24 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_jg {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_25 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_jh {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jh {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_26 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_ji {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ji {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_27 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_jk {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_28 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_jm {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_29 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_jo {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jo {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_30 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_jq {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_31 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_js {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_js {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_32 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 28px;
	overflow: visible;
}
#Ellipse_1_ju {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ju {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_33 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_jw {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jw {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_34 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_jy {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_jy {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_35 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_j {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_j {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_36 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_ka {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ka {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_37 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_kb {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_kb {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_38 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_kc {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_kc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_39 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_kd {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_kd {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_40 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_ke {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ke {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_41 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_kf {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_kf {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_42 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_kg {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_kg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_43 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 42px;
	overflow: visible;
}
#Ellipse_1_kh {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_kh {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_44 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_ki {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ki {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_45 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_kk {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_kk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_46 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_km {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_km {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_47 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_ko {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ko {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_48 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_kq {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_kq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_49 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_ks {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ks {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_50 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_ku {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ku {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_51 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_kw {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_kw {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_52 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_ky {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ky {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_53 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_k {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_k {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_54 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 56px;
	overflow: visible;
}
#Ellipse_1_la {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_la {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_55 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_lb {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lb {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_56 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_lc {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_57 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_ld {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ld {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_58 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_le {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_le {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_59 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_lf {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lf {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_60 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_lg {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_61 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_lh {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lh {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_62 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_li {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_li {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_63 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_lk {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_64 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_lm {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_65 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 70px;
	overflow: visible;
}
#Ellipse_1_lo {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lo {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_66 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_lq {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_67 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_ls {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ls {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_68 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_lu {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lu {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_69 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_lw {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_lw {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_70 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_ly {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ly {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_71 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_l {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_l {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_72 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_ma {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ma {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_73 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_mb {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mb {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_74 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_mc {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_75 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_md {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_md {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_76 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 84px;
	overflow: visible;
}
#Ellipse_1_me {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_me {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_77 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mf {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mf {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_78 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 14px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mg {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_79 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 28px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mh {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mh {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_80 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 42px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mi {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mi {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_81 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 56px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mk {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_82 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 70px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mm {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_83 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 84px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mo {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mo {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_84 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 98px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mq {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_85 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 112px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_ms {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ms {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_86 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 126px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mu {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mu {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1_h_87 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 140px;
	top: 98px;
	overflow: visible;
}
#Ellipse_1_mw {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_mw {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Text {
	position: absolute;
	width: 607px;
	height: 217px;
	left: 185px;
	top: 594px;
	overflow: visible;
}
#We_cant_seem_to_find_a_page_yo {
	left: 0px;
	top: 139px;
	position: absolute;
	overflow: visible;
	width: 452px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -4px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(22,11,56,1);
}
#Page_not_Found {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 608px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(14,71,122,1);
	text-transform: capitalize;
}
#CTA {
	position: absolute;
	width: 203px;
	height: 58px;
	left: 185px;
	top: 848px;
	overflow: visible;
}
#btn-background {
	fill: transparent;
	stroke: rgba(14,71,122,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.btn-background {
	position: absolute;
	overflow: visible;
	width: 203px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Go_Back {
	left: 55px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: 2.html;
	cursor: pointer;
	text-align: left;
	font-family: Sen;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(14,71,122,1);
}
#Rendered_Image_Reduced_Noise_m {
	filter: drop-shadow(0px 3px 6px rgba(234, 17, 17, 0.161));
	position: absolute;
	width: 1607px;
	height: 904px;
	left: 0px;
	top: 105px;
	overflow: visible;
}
#Group_3 {
	position: absolute;
	width: 54.882px;
	height: 55px;
	left: 100px;
	top: 48px;
	overflow: visible;
}
#Path_57_m {
	fill: url(#Path_57_m);
}
.Path_57_m {
	overflow: visible;
	position: absolute;
	width: 54.882px;
	height: 55px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_58_m {
	fill: url(#Path_58_m);
}
.Path_58_m {
	overflow: visible;
	position: absolute;
	width: 27.779px;
	height: 27.516px;
	left: 0px;
	top: 27.448px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_59_na {
	fill: url(#Path_59_na);
}
.Path_59_na {
	overflow: visible;
	position: absolute;
	width: 27.417px;
	height: 27.444px;
	left: 0.012px;
	top: 0.047px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_60_nc {
	fill: url(#Path_60_nc);
}
.Path_60_nc {
	overflow: visible;
	position: absolute;
	width: 27.512px;
	height: 27.514px;
	left: 27.366px;
	top: 27.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_61_ne {
	fill: url(#Path_61_ne);
}
.Path_61_ne {
	overflow: visible;
	position: absolute;
	width: 27.533px;
	height: 27.497px;
	left: 27.35px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_62_ng {
	fill: url(#Path_62_ng);
}
.Path_62_ng {
	overflow: visible;
	position: absolute;
	width: 0.307px;
	height: 0.363px;
	left: 0.014px;
	top: 27.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_63_ni {
	fill: url(#Path_63_ni);
}
.Path_63_ni {
	overflow: visible;
	position: absolute;
	width: 0.319px;
	height: 0.325px;
	left: 0.007px;
	top: 0.053px;
	transform: matrix(1,0,0,1,0,0);
}
#Rendered_Image_Reduced_Noise_nj {
	position: absolute;
	width: 1920px;
	height: 1078px;
	left: 36px;
	top: 594px;
	overflow: visible;
}
#Rendered_Image_Reduced_Noise_nk {
	position: absolute;
	width: 1920px;
	height: 1078px;
	left: 0px;
	top: 2px;
	overflow: visible;
}